footer {
  background-color: $color-black;
  color: $color-white;
  border-top: 1px solid $color-brand;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

  a { color: $color-brand; }
}

.icon__github {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: fill .3s ease;

  &:hover, &:focus { fill: $color-brand; }
}