header {
  background-color: $color-black;
  position: relative;
  height: $header-height;
  border-bottom: 1px solid $color-brand;
  /**
  * to deal with the tool bar / admin menu, you need to add a margin to the top of the header
  */
  @include respond-to($large-min) {
    height: $header-height-large;
  }
}

.header--fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;

  + #main {
    margin-top: $header-height;

    @include respond-to($large-min) {
      margin-top: $header-height-large;
    }
  }
}

// Logo
.branding {
  position: absolute;
  top: 7px;
  left: 7px;
  display:inline-block;

  @include respond-to($large-min) {
    left: 40px;
  }
  #name-and-slogan {
    display:inline-block;
    margin: 0 20px;

    #site-name {
      a {
        font-size:16px;
        color:$color-brand;

        @include respond-to($large-min) {
          font-size:20px;
        }

        &:hover {
          color:$color-primary;
        }
      }
    }
    #site-slogan {
      font-size: 12px;
      font-style: italic;
      color:$color-primary-contrast;

      @include respond-to($large-min) {
        font-size:16px;
      }
    }
  }
}

.branding__link {
  color: $color-brand;
  text-decoration: none;
  float: left;

  &:hover, &:focus {
    color: $color-brand;
    text-decoration: none;

    .logo-h { fill: $color-brand; }
  }
}

.branding__title {
  font-size: 16px;

  @include respond-to($large-min) {
    font-size: 20px;
  }
}

.logo-h {
  width: 35px;
  height: 36px;
  fill: transparent;
  stroke: $color-brand;
  stroke-width: 6px;
  transition: fill .3s ease;

  @include respond-to($large-min) {
    width: 50px;
    height: 52px;
  }
}

// Drupal admin menu shim when logged in
body.toolbar-drawer{

  .header--fixed{
    top: 30px;
  }
}