#main {
  margin: 0px auto;
}

// general 100% wrapper
.container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0px 20px;

  @include respond-to($large-min) {
    padding: 0px 40px;
  }
}

// Header spacer when the main menu is fixed
.fixed--header--spacer{
  margin-top: $header-height;

  @include respond-to($large-min) {
    margin-top: $header-height-large;
  }
}
