/**
*
* Variables
*
**/

/*==========  Paths  ==========*/
$img-path: "../images/";
// wp font path
$font-path: "../fonts/";

/*==========  Font Sizes  ==========*/
$font-small: 13px;
$font-base-size: 16px;

/*==========  Colors  ==========*/
$color-brand: #d2e51b;
$color-primary: #46b04a;
$color-primary-dark: #348f38;
$color-accent: #ffa100;
$color-primary-contrast: #fff;
$color-accent-contrast: #fff;

$color-background: #f0ede8;

$color-alert-neutral: #777;
$color-alert-neutral-bgd: #fffcf5;
$color-alert-success: #3c763d;
$color-alert-success-bgd: #dff0d8;
$color-alert-warn: #8a6d3b;
$color-alert-warn-bgd: #fcf8e3;
$color-alert-danger: #a94442;
$color-alert-danger-bgd: #f2dede;

$color-black: #222;
$color-white: #fff;

/* ==========  Fonts  ========== */
$font-default: 'Helvetica', 'Arial', sans-serif !default;
$font-base: 'Roboto';

/* ==========  Typography  ========== */
$color-text: $color-black;
$color-text-link: $color-accent;
$color-text-link-hover: #66615b;

/* ==========  Header/Navigation  ========== */
$header-height: 50px;
$header-height-large: 66px;

/* ==========  Standard Buttons  ========== */

// Default button colors.