.modal {
  background-color: rgba(0,0,0,.9);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -100;
  padding: 40px;
  opacity: 0;
  overflow-y: scroll;
  transform: scale(.75);
  transition: transform .3s ease, opacity .3s ease;
}

.modal__container {
  background-color: $color-background;
  position: relative;
  margin: 0px auto;
  padding: 30px;

  @include respond-to($medium-min) {
    padding: 40px;
  }
}

.js-modal-visible {
  overflow: hidden;
}

.js-modal-shown {
  opacity: 1;
  z-index: 1000;
  transform: scale(1);
}

.modal__close-button {
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid rgba(0,0,0,.75);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: $color-black;
  overflow: hidden;
  opacity: 1;
  transition: opacity .3s ease;

  &:hover, &:focus {
    opacity: .8;
  }
}