.navigation {
    text-align: right;
    transition: background-color .3s;

    @include respond-to(0px, $medium-max) {
      position: fixed;
      top: $header-height;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 100;
      text-align: center;
      visibility: hidden;
    }
}

.navigation__container {
    @include respond-to(0px, $medium-max) {
      background-color: $color-black;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(.7);
      transition: all .3s;
      overflow-y: scroll;
    }
}

#main-menu,
.navigation__list {
    display: inline-block;
    margin: 24px 0px 0px;
    padding: 0px;

    @include respond-to(0px, $medium-max) {
      font-size: 25px;
      text-transform: uppercase;
    }
}

#main-menu li,
.navigation__item {
    margin: 0px auto;
    width: 100%;

    @include respond-to($large-min) {
      display: inline-block;
      width: auto;
    }

    a {
        display: block;
        padding-left: 20px;
        color: $color-brand;
        text-decoration: none;

        @include respond-to(0px, $medium-max) {
          padding: 10px;
          border-bottom: 1px solid $color-brand;
        }

        &:hover, &:focus {
          text-decoration: underline;
        }
    }

    &:last-child {
        a {
            border: none;
        }
    }
}

// Mobile navigation
.mobile-nav-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 22px;
  cursor: pointer;
  opacity: 1;
  transition: .3s opacity;
}

.mobile-nav-line {
  background-color: $color-brand;
  position: absolute;
  width: 28px;
  height: 4px;
  border-radius: 1px;
  transform: rotate(0deg) translateX(0) translateY(0);
  transition: all .2s ease;

  &.mobile-nav-top {
    top: 0px;
    transform-origin: right top;
  }
  &.mobile-nav-mid {
    top: 9px;
  }
  &.mobile-nav-bottom {
    bottom: 0px;
    transform-origin: right bottom;
  }
}

.js-nav-visible {
  position: fixed;

  .navigation {
    background-color: rgba(0,0,0,.75);
    visibility: visible;
  }

  .navigation__container {
    transform: scale(1);
    opacity: 1;
  }

  .mobile-nav-top {
    transform: rotate(-45deg);
  }

  .mobile-nav-mid {
    opacity: 0;
  }

  .mobile-nav-bottom {
    transform: rotate(45deg);
  }
}