/**
*
* Basic site elements
*
**/

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  font-family: $font-base, $font-default;
  font-size: 17px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: $color-text;
  //margin: 90px 0 0;

  @include respond-to($medium-min) {
      font-size: 16px;
  }
}

a {
  color: $color-text-link;
  font-weight: 300;
  transition: .2s color ease;

  &:hover, &:focus {
    color: $color-text-link-hover;
    text-decoration: underline;
  }
}

iframe, object, embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}