/**
*
* Typography
*
**/

html, body { color: $color-text; }

// Normalizing text
// Recommend using padding instead of margin
h1, h2, h3, h4, h5, h6, p { margin: 0px; }

// Definitions
.small,
small { font-size: $font-small; }

.base,
p,
ul,
ol { font-size: $font-base; }

h1 {
  font-size: 52px;
  font-weight: 300;

  @include respond-to($large-min) {
    font-size: 72px;
  }
}

h2 {
  font-size: 35px;
  font-weight: 400;

  @include respond-to($large-min) {
    font-size: 48px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

li > p { padding-top: 0px; }

a {
  transition: color .3s ease;

  &:hover { color: $color-text-link-hover; }
}

.subsection-title {
  margin-bottom: 20px;
  padding-top: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid $color-black;
}

.color-example {
  margin-bottom: 20px;
  padding: 10px;
  border-left: 4px solid;
}